main {
    height: 260vh;
}

.service-container-page {
    gap: 3rem;
}

.service-container-page img {
    width: 25vw;
}

.service-item-page {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
}

.service-item-page p {
    width: 85%;
    text-align: center;
    color: var(--gray-text-color);
    font-size: 1rem;

}

.service-item-page h3 {
   font-size: 1.5rem;
}

.service-item-page div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    height: 70vh;
}
