@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --gray-text-color: rgb(96, 96, 96);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Nunito Sans", sans-serif;;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

header {
    box-shadow: 0 10px 50px rgba(29, 29, 29, 0.1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-hero {
    background: linear-gradient(90deg, #f06c06, #ffa437);
}

.header-section {
    position: relative;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    justify-content: space-between;
    z-index: 3;
    background: white;
    /* border: 1px solid black; */
}

.logo-container a {
    font-size: 1.5rem;
    font-weight: 800;
}

.nav-container nav ul {
   gap: 3rem; 
}

.nav-container nav ul li{
    display: flex; 
    align-items: center;
 }

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-text-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero-text-box {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    gap: 0.3rem;
}

.infotech {
    font-weight: 900;
    background : linear-gradient(90deg, #f06c06, #ffa437);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
}

.hero-text-box h4 {
    color: var(--gray-text-color);
    font-weight: 400;
}

.hero-btn-container{
    margin-top: 2rem;
}

.hero-text-container h1 {
    font-size: 6vw;
}

.hero-text-container h3 {
    font-size: 2vw;
}


.hero-container > div {
    width: 100%;
    height: 100vh;
}

.first-img {
    position: relative;
    z-index: 2;
    top: 20%;
    animation: breathe 3500ms infinite forwards;
}

@keyframes breathe {
    40% {
        transform: scaleY(1.03);
    }

    100% {
        transform: scaleY(1); 
    }
}

.first-img img{
    width: 70%;

}

.second-img {
    position: absolute;
    top: -20%;
    max-width: 49.5vw;
    overflow-x: hidden;
}

.service-section {
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 30px 20px #f9f9f9, -30px -30px 20px #f9f9f9;
}

.service-section img {
    width: 22vw;
}

.service-active {
    box-shadow: 10px 12px 42px rgba(0, 0, 0, 0.08), 
    -10px -10px 10px white inset;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-inline: 2rem;
}

.service-item {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
}

.service-item p {
    width: 85%;
    text-align: center;
    color: var(--gray-text-color);
    font-size: 1rem;

}

.service-item h3 {
   font-size: 1.5rem;
}

.service-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    height: 70vh;
}

.service-item:hover {
    box-shadow: 10px 22px 32px rgba(0, 0, 0, 0.08), 
    -10px -10px 10px white;
}

/* about team section */

.team-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   height: 100vh;
   align-items: center;
}

.team-section > div {
    position: relative;
    /* border: 1px solid black; */
}

.team-blob {
    position: absolute;
    top: -10%;
}

.team-blob img {
    width: 35vw;
}

.team-svg img {
    position: relative;
    width: 40vw;
    z-index: 3;
    left: 10%;
}

.team-text-container {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 2rem

}

.team-heading {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
}

.team-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.team-description {
    flex-direction: column;
    align-items: baseline;
}

.team-core-feature-container {
    display : flex;
    flex-wrap: wrap;
    align-items : center;
    gap: 1rem;
    margin-top: 2rem;
}

.team-feature-healine-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.team-fetature-item span {
    display: inline-block;
    font-weight: 600;
    color: #f9f9f9;

}

.team-fetature-item {
    background: linear-gradient(90deg, #f06c06, #ffa437);
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    border-radius: 2rem;
    box-shadow: 10px 22px 32px #fff4ed;
    padding-inline: 1.5rem;
}

/* lang tool section */

.lan-tool-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.lan-tool-container {
    width: 100%;
    height: 50vh;
    background: radial-gradient(closest-side, #461b88, #2b0665);
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.lang-item-animate {
    position: relative;
    top: 10%;
}

.lang-item {
    flex-direction: column;
    align-items: center
}

.lang-item span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.lang-item img {
    width: 10vw;
}

/* why choose us */

.choose-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f9f9;
}

.choose-container > div {
    height: 100vh;
    /* border: 1px solid black; */
}

.choose-us-img-container {
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.choose-us-img-container h2 {
    width: 90%;
    font-size: 2.5vw;
}

.choose-us-img-container img{
    width: 50%;
}

.choose-us-text-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.choose-point-container {
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
}

.choose-point-item {
    width: 85%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 10px 22px 32px rgba(0, 0, 0, 0.02);
    padding-inline: 1.5rem;
}

.align-left-corner {
    align-self: last baseline;
    flex-direction: row-reverse;
}

.choose-point-item:hover {
    background: linear-gradient(90deg, #15082c, #5f12c5);
    color: white;
}

.circle {
    width: 28%;
    height: 7.5rem;
    background-color: #fff1d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
}


.circle img {
    width: 70px;
}

.choose-point-text {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.client-section {
    width: 100%;
    height: 50vh
}

.top-client-container {
    width: 100%;
    height: 100%;
    background-color: #15082c;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.client-scroll-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.client-scroll-item-container {
    display: inline-flex;
    gap: 5rem;
    animation: animate 20s infinite linear;
}

@keyframes animate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.client-scroll-container:hover .client-scroll-item-container {
    animation-play-state: paused;
}

.client-scroll-item-container img{
    width: 10vw;
    border-radius: 10%;
}

.client-scroll-item {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.client-name {
    display: inline-flex;
    margin-inline: 2rem;
    background: linear-gradient(90deg, #4f11a1, #8c4dff);
    padding: 0.8rem;
    padding-inline: 1.5rem;
    width: max-content;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
}

.client-name span {
    font-size: 1rem;
}

.client-testimonial-section {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.testimonial-section-title {
    flex-direction: column;
    align-items: center;
}

.testimonial-section-title h2 {
    font-size: 3rem;
}

.testimonial-container {
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.testimonial-item {
    background-color: #fff;
    padding: 1rem;
    padding-inline: 2rem;
    margin-left: 1rem;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.03);
    width: 420px;
    align-items: baseline;
    /* height: 280px; */
}

.testimonial-item p {
    margin-top: 2.5rem;
    color: rgb(99, 98, 98)
}

.testimonial-item h2 {
    margin-top: 0.5rem;
}


.testimonial-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 8%;
    border: 2px solid rgb(99, 98, 98);
} 

.position {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;

}

.position span {
    font-size: 4rem;
}

.our-product-section {
    width: 100%;
    height: max-content;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mt {
    margin-top: 3rem;
}

.product-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.product-item {
    /* border: 1px solid black; */
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    gap: .5rem;
}

.product-item p {
    color: var(--gray-text-color)
}

.product-item img{
    aspect-ratio: 16/9;
    width: 400px;
    border-radius: 1rem;

}

.make-query {
    align-items: center;
    gap: 1rem;
 
}

.make-query h1 {
    font-size: 2rem;
    text-align: center;
}

.footer-section {
    width: 100%;
    height: 60vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    justify-content: center;
}

.main-footer-container > div {
    height: 40vh;
}

.copyright-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.copyright-container p {
    font-weight: 600;
    color: #fff;
    padding: 1rem;
}

.logo-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container h2 {
    color: #fff;
    font-size: 3rem;
}

.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-way-container {
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
}

.contact-way-container .title {
   align-items: center;
   gap: 0.5rem;
}

.contact-email {
    flex-direction: column;
    gap: 0.5rem;
}

.contact-way-container .title span {
    color: #fff;
    font-weight: 600;
}

.contact-way-container h3 {
    color: #fff;
    font-weight: 600;
}

.link-container {
    align-items: baseline;
    gap: 5rem;
}

.link-container ul{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.link-container ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

.link-container ul li a:hover {
    color: #f06c06;
}



