<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/commonClass.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/about-us.css">
    <title>About Us | Raynrel</title>
</head>

<body>
    <header>
        <section class="flex header-section">
            <div class="logo-container">
                <div class="flex">
                    <img src="../img/logo.png" class="logo-img" alt="logo">
                    <!-- <a href="#">RAYNREL</a> -->
                    <a href="#">reynrel</a>
                </div>
            </div>
            <div class="nav-container">
                <nav>
                    <ul class="flex respHidden">
                        <li><a href="/index.html">Home</a><span class="material-symbols-outlined">
                                arrow_drop_down
                            </span></li>
                        <li><a href="/pages/about-us.html">About us</a><span class="material-symbols-outlined">
                                arrow_drop_down
                            </span></li>
                        <li><a href="#">Services</a><span class="material-symbols-outlined">
                                arrow_drop_down
                            </span></li>
                        <li><a href="#">Products</a><span class="material-symbols-outlined">
                                arrow_drop_down
                            </span></li>
                        <li><a href="#">Contact Us</a><span class="material-symbols-outlined">
                                arrow_drop_down
                            </span></li>
                    </ul>

                    <!-- Mobile nav bar -->

                    <div class="hidden flex-col respNavbar" id="mobile-navbar" style="display: none;">
                        <div class="nav-close" onclick="closeNavBar()">
                            <span class="material-symbols-outlined" style="color: #fff;">
                                close
                            </span>
                        </div>
                        <ul class="flex flex-col">
                            <li><a href="#">Home</a><span class="material-symbols-outlined">
                                    arrow_drop_down
                                </span></li>
                            <li><a href="#">Pages</a><span class="material-symbols-outlined">
                                    arrow_drop_down
                                </span></li>
                            <li><a href="#">Services</a><span class="material-symbols-outlined">
                                    arrow_drop_down
                                </span></li>
                            <li><a href="#">Products</a><span class="material-symbols-outlined">
                                    arrow_drop_down
                                </span></li>
                            <li><a href="#">Contact Us</a><span class="material-symbols-outlined">
                                    arrow_drop_down
                                </span></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="btn-container">
                <div class="hidden showResp" onclick="openNavBar()">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </div>
                <div>
                    <button class="btn-hero respHidden">Lets Chat</button>
                </div>
            </div>

        </section>
    </header>

    <div class="flex flex-col about-us-heading">
        <div class="title-container">
            <span class="material-symbols-outlined">
                sports_volleyball
            </span>
            <h3 class="section-title">About Raynrel</h3>
            <span class="material-symbols-outlined">
                sports_volleyball
            </span>
        </div>
        <h4>How we Started</h4>
    </div>
     
    <!-- our story -->

    <div class="flex about-us-container">
        <div class="our-story-text">
            <p>
                <span class="welcome">Welcome to RAYNREL</span>, where passion meets performance. Founded by two self-taught programmers, our
                journey started with a shared love for coding and a vision to create software solutions that make a difference.
                With a deep understanding of technology and an unwavering commitment to excellence, we've grown into a trusted
                partner for businesses looking to innovate and thrive in the digital age.
            </p>
            <p style="margin-top: .8rem;">
                Our story is one of dedication and hard work. Without formal training, we dove into the world of programming,
                learning from every project, every challenge, and every success. This hands-on experience has shaped us into
                versatile developers who think outside the box and deliver solutions that are not only functional but also
                elegant and efficient.
            </p>
            <p style="margin-top: .8rem;">
                At RAYNREL, we believe that our work speaks for itself. We take pride in the relationships we've
                built with our clients, who return to us time and again for our performance, reliability, and personalized
                service. From startups to established enterprises, our clients trust us to bring their ideas to life with
                software that’s tailored to their unique needs.
        
                Our commitment to quality, innovation, and client satisfaction drives everything we do. We're not just building
                software; we're building long-term partnerships based on trust and mutual success.
        
                Thank you for considering RAYNREL. We look forward to the opportunity to help you achieve your goals
                and transform your vision into reality.</p>
        </div>
        <img src="../img/about-us/about-us.webp" alt="our-story-image">
    </div>

    <div class="flex flex-col about-us-heading">
        <div class="title-container">
            <span class="material-symbols-outlined">
                sports_volleyball
            </span>
            <h3 class="section-title">About business</h3>
            <span class="material-symbols-outlined">
                sports_volleyball
            </span>
        </div>
        <h4>How we empower businesses with TECH</h4>
    </div>

    <!-- empowering businesses -->
    <div class="flex about-us-container empower-part">
        <img src="../img/about-us/about-us.webp" alt="our-story-image">
        <div class="our-story-text empower-text">
            <p>
                We believe that technology should be accessible and affordable for every business, regardless of size. Our mission is to empower small and medium enterprises (SMEs) by providing them with the tools and support they need to thrive in today's digital landscape.
            </p>
            <p style="margin-top: .8rem;">
                We specialize in offering tailored tech solutions, including CRM, ERP systems, and custom software designed to meet the unique needs of your business. By focusing on affordability and scalability, we ensure that you can leverage the latest technology without breaking the bank.
            </p>
            <p style="margin-top: .8rem;">
                Our team is committed to providing ongoing support, helping you seamlessly integrate and optimize these solutions to drive growth, improve efficiency, and stay competitive. We're not just a service provider—we're your partner in success.

                Let us help you navigate the complexities of technology so you can focus on what you do best: running your business.
            </p>
        </div>
    </div>

    <!-- footer -->
    <footer class="flex footer-section">
        <div class="main-footer-container">
            <div class="flex logo-container" style="align-self: center;">
                <img src="../img/logo-v.png" alt="">
                <h2>INFOTECH</h2>
                <p style="color: #fff; font-weight: 600; font-size: 1rem;">"Defining the Future"</p>
            </div>
            <!-- contact us container -->
            <div class="flex footer-container">
                <div class="title-container">
                    <span class="material-symbols-outlined" style="color: #fff;">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Contact Us</h3>
                    <span class="material-symbols-outlined" style="color: #fff;">
                        sports_volleyball
                    </span>
                </div>
                <div class="flex contact-way-container">
                    <div class="flex contact-email">
                        <div class="flex title">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <span style="color: rgb(153, 153, 153);">Send us Email</span>
                        </div>
                        <h3>panchananDeka162534@gmail.com</h3>
                    </div>
                    <div class="flex contact-email">
                        <div class="flex title">
                            <span class="material-symbols-outlined">
                                phone_in_talk
                            </span>
                            <span style="color: rgb(153, 153, 153);">Give us a call</span>
                        </div>
                        <h3>+91 6000192289</h3>
                    </div>
                </div>
            </div>
            <!-- Quick links  -->
            <div class="flex footer-container">
                <div class="title-container">
                    <span class="material-symbols-outlined" style="color: #fff;">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Quick Links</h3>
                    <span class="material-symbols-outlined" style="color: #fff;">
                        sports_volleyball
                    </span>
                </div>
                <div class="flex link-container">
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Team members</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Our products</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex copyright-container">
            <p>Designed and maintain by Raynrel Infotech | All Rights Reserved</p>
            <div class="social-container">

            </div>
        </div>

    </footer>
</body>

</html>